

:root {
  background: url("/clock_background_void.png")no-repeat center center fixed #010a13; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  height: 100%;
}

